<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Home</title>
    <meta charset="utf-8">      
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
    <meta name="author" content=" Paulo R. Maciel">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="#">Comidas</a>  
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">                  
                  <div class="navbar-nav mr-auto">   
                    <a class="nav-item nav-link" href="#" id="linkInicio">HOME <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#" id="linkVerUsuarios">Listar</a>
                    <div class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href=" " id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{url_for('static', filename=current_user.caminho_foto)}}" height="32" width="32"></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="cadastrar">Inscreva-se</a>
                          <a class="dropdown-item" href="logar">Login</a>
                        </div>
                      </div>
                    </div>
                  </div>                  
            </nav>
        </header>
        <div id="corpoDaPagina">

          <div id="conteudoInicial" class="invisible">
              Bem vindo ao Comida Na Mesa.
              <div class="card-group" href="#" id = comidaNaMesa>

              </div>
          </div>
        <div class="modal fade" id="modalIncluirComida" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Incluir pessoa</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="campoNomeDoPrato">Nome Do Prato</label>
                                    <input type="text" class="form-control" id="campoNomeDoPrato">
                                </div>
                                <div class="form-group">
                                    <label for="campoCodigoProduto">Codigo Produto</label>
                                    <input type="text" class="form-control" id="campoCodigoProduto">
                                </div>
                                <div class="form-group">
                                    <label for="campoPaisDeOrigem">Pais De Origem</label>
                                    <input type="text" class="form-control" id="campoPaisDeOrigem">
                                </div>
                                <div class="form-group">
                                  <label for="campoIngredientes">Ingredientes</label>
                                  <input type="text" class="form-control" id="campoIngredientes">
                                </div>    
                                <div class="form-group">
                                  <label for="campoCaminhoFoto">Caminho Foto</label>
                                  <input type="text" class="form-control" id="campoCaminhoFoto">
                                </div>          
                                <div class="form-group">
                                  <label for="campoDescricao">Descrição do Prato</label>
                                  <input type="text" class="form-control" id="campoDescricao">
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                            <button id="btIncluirComida" type="button" class="btn btn-primary">Incluir</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table invisible table-striped table-hover" id="tabelaUsers">
              <thead>
                  <!-- primeira linha da tabela: títulos -->
                  <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Email</th>
                      <th scope="col">Sexo</th>
                  </tr>
              </thead>
              <tbody id="corpoTabelaUsers">
                  <!-- aqui serão exibidas as pessoas -->
              </tbody>
          </table>
        </div> <!-- fim da div corpo da página --> 
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
          integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
          crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
          integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
          crossorigin="anonymous"></script>
      <script src="JS/funçoes.js"></script>
    
    </body>
</html>