{% extends "home"".html"%}

{% block main%}

<h1 style="margin-left: 40%;">Cadastro Produto</h1>
    <form method="POST" action='cadastro_produto' enctype="multipart/form-data">
      {{form.csrf_token}}
    <h5 style="margin-left: 40%;">{{form.pais_de_origem.label}}
        {{form.pais_de_origem()}}<br>
        {%for error in form.pais_de_origem.errors%}
        <span style="color: red">[{{error}}]---</span> 
        {%endfor%}
        <br>
    </h5>
      <h5 style="margin-left: 40%;">{{form.ingredientes.label}}
        {{form.ingredientes()}}<br>
        {%for error in form.ingredientes.errors%}
        <span style="color: red">[{{error}}]---</span> 
        {%endfor%}
        <br>
      </h5>
      <h5 style="margin-left: 40%;">{{form.descricao_produto.label}}
          {{form.descricao_produto()}}<br>
          {%for error in form.descricao_produto.errors%}
          <span style="color: red">[{{error}}]---</span> 
          {%endfor%}
          <br>
        </h5>
      <h5 style="margin-left: 40%;">{{form.nome_prato.label}}
        {{form.nome_prato()}}<br>
        {%for error in form.nome_prato.errors%}
        <span style="color: red">[{{error}}]---</span> 
        {%endfor%}
        <br>
      </h5>
      <h5 style="margin-left: 40%;">{{form.foto.label}}
          {{form.foto()}}<br>
          {%for error in form.foto.errors%}
          <span style="color: red">[{{error}}]---</span> 
          {%endfor%}
          <br>
        </h5>
    <p style="margin-left: 40%;">
      {{ form.submit() }}
    </p>
    </form>








{%endblock%}