<!DOCTYPE html>
<html lang="pt-br">
<head>
    {%if title%}
    <title>{{title}}</title>
  {%else%}
    <title>Home</title>
  {%endif%}
    <meta charset="utf-8">       
    <meta name="author" content=" Paulo R. Maciel">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
    <body>
        <header>
            <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="#">Comidas</a>  
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">                  
                  <ul class="navbar-nav mr-auto"> 
                    <li class="nav-item active">
                      <a class="nav-link" href="menu" >HOME <span class="sr-only">(current)</span></a>
                    </li>
                
                    {%if current_user.is_authenticated%}
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href=" " id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{url_for('static', filename=current_user.caminho_foto)}}" height="32" width="32"></a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="perfil">{{current_user.usuario}}</a>
                            <a class="dropdown-item" href=" ">Configurações</a>
                            <a class="dropdown-item" href="cadastro_produto">Cadastrar Novos Produtos</a>
                            <a class="dropdown-item" href="sair">Sair</a>
                          </div>
                      </li>
                    {% else %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href=" " id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{{url_for('static', filename=current_user.caminho_foto)}}" height="32" width="32"></a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="cadastrar">Inscreva-se</a>
                          <a class="dropdown-item" href="logar">Login</a>
                        </div>
                    </li>
                    {%endif%}
                  </div> 
                    <form class="form-inline" action="Buscar" >
                        <input type="text" name="buscar" id="txtBusca" placeholder="Buscar..."/>
                        <button id="btnBusca" type="submit"><img src="{{url_for('static', filename='images/lupa.jpg')}}" alt="lupa" height="32" width="32"></button>
                    </form> 
                                
            </nav>
        </header>
        {% block main %}
        {% if  comidas == []  %}
        {%else%}
        {% for u in range(0, controle) %}
          <br>
            <div class="card-group"> 
        {% for i in comidas %}
          {%if  i.pais_de_origem == sub_controle[u] %}
            <div class="card" >      
              <a href="/prato"><img class="card-img-top" src="{{url_for('static', filename = i.caminho_foto)}}"></a>  
              <div class="card-body">
              <form  method="POST" action="/prato">      
              {{ form.csrf_token }}
              {{ form.hidden_comida(value=i.codigo_produto) }}
                <h3 class="card-title"> {{i.nome_do_prato}}</h3>
                <p class="card-text">{{i.descricao}}</p> 
                {{form.submit()}}
              
      </form>
      </div>
      </div> 
      {% endif %}
      {% endfor %}
      </div>
      {% endfor %}
      {% endif %}
        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    
    </body>
</html>