{% extends "home"".html"%}

{% block main%}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <form method="POST" action="/logar" >
      {{ form.hidden_tag() }}
      <h5>{{form.usuario.label}}
      {{form.usuario()}}<br>
      {%for error in form.usuario.errors%}
      <span style="color: red">[{{error}}]---</span> 
      {%endfor%}
      <br>
      </h5>
    <h5>
      {{form.senha.label}}
      {{form.senha()}}<br>
      {%for error in form.senha.errors%}
      <span style="color: red">[{{error}}]---</span> 
      {%endfor%}<br>
    </h5>
    <p>
      {{ form.submit() }}
    </p>
    </form>

{%endblock%}